<body>
  <app-header [deviceXs]="deviceXs"></app-header>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px">
    <div fxFlex="100%" fxLayoutAlign="center">


      <mat-card class="cardd">
        <!-- <h1 class="text-center mb-5">Your Profile Details</h1> -->

        <mat-card-content fxFlex="70%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%">

          <div fxLayoutAlign.xs="end end" fxLayoutAlign="center center">
            <img
              src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=6&m=1223671392&s=170667a&w=0&h=zP3l7WJinOFaGb2i1F4g8IS2ylw0FlIaa6x3tP9sebU="
              alt="" class="profile-image">
          </div>

          <div fxLayoutAlign.xs="end end"  fxLayoutAlign="center center">
            <h1 class="mt-3" style="color: orangered">{{profile.name}}</h1>
          </div>

          <div fxLayout="column" fxLayoutAlign.xs="start start">
            <table class="table text-center">
              <tr>
                <td>Name</td>
                <td>{{profile.name}}</td>
              </tr>
              <tr>
                <td>User Id</td>
                <td>{{profile.uid}}</td>
              </tr>
              <tr>
                <td>Username</td>
                <td>{{profile.username}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{profile.email}}</td>
              </tr>
              <tr>
                <td>Contact Number</td>
                <td>{{profile.mobile}}</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="mb-5"></div>
    </div>
  </div>
  <app-footer></app-footer>
</body>