<nav class="navbar navbar-expand-lg navbar-dark bg-custom navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container" id="navbarSupportedContent">



    <ul class="navbar-nav mr-auto ">
      <li class="nav-item"><a class="nav-link" ><mat-icon>school</mat-icon>ENotes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/homepage"><mat-icon>home</mat-icon>Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/addNotes"><mat-icon>library_add</mat-icon>Add Notes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/showNotes"><mat-icon>article</mat-icon> Show Notes</a></li>
      </ul>
      <a class="btn btn-light my-2 my-sm-0 mr-2 loginButton"   routerLink="#" ><mat-icon>person</mat-icon>Profile</a>

      <a class="btn btn-light my-2 my-sm-0 "   routerLink="/login"><mat-icon>logout</mat-icon>Logout</a>
    
    
    </div>
</nav>
