<body>
  <app-header [deviceXs]="deviceXs"></app-header>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%">

      <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-header>
          <p>
            <mat-label class="login_header">
              <h2>Notes</h2>
            </mat-label>
          </p>
        </mat-card-header>
        <img src="..\assets\paper.png" alt="">
        <h1 fxLayoutAlign="center center">START TAKING YOUR NOTES</h1>
        <button color="primary" routerLink="/notes/addNotes" class="btn btn-outline-primary">
          Start Here
        </button>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</body>