<body>
  <app-home_nav [deviceXs]="deviceXs"></app-home_nav>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%" fxFlex.xs="100%">
      <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="loginFormGroup" (ngSubmit)="userLogin()" >
          <mat-card-header>
            <p>
              <mat-label class="login_header">Login</mat-label>
            </p>
          </mat-card-header>

          <mat-card-content>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-hint>Username required</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>

            <button [disabled]="loginFormGroup.invalid" mat-raised-button type="submit" color="primary">Login</button>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
   