<app-header></app-header>
  <div class="container">
    <h2 class="text-center mt-3">All Notes</h2>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="notes">
          <div *ngFor="let note of notes.slice().reverse()"> 
          <div class="card ml-5 mr-5 mt-3">
            
                    <div class="card-body p-4">
                      
                           <input type="hidden" name="noteId"  value="{{note.noteId}}"> 

                          <h5 class="card-title">{{note.title}}</h5>
                          
                          <p>{{note.content}}</p>
        
                          <p>
                              <b class="text-success">Published By: </b><b class="text-primary">{{published_by}}</b>
                          </p>

                          <p>
                              <b class="text-success">Published Date: </b> <b class="text-primary">{{note.date}}</b>
                          </p>

              <div class="container text-center mt-2">
                <button  class="btn btn-danger mr-2" (click)="deleteNote(note.noteId)">delete</button>
                <button  class="btn btn-primary" (click)="editNote(note)">Edit</button>
              </div>
            </div>
          </div>
          </div>
          </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
