<body>
  <app-header [deviceXs]="deviceXs"></app-header>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%">
      
      <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="editNoteFormGroup" (ngSubmit)="addNewNote()" >
          <mat-card-header>
            <p>
              <mat-label class="login_header">Edit Notes</mat-label>
            </p>
          </mat-card-header>

          <mat-card-content>
            
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" placeholder="Title" name="title">
                <div class="clearfix"></div>
              </mat-form-field>
            </p>
<!-- 
            <input type="text" required matInput placeholder="Enter Here..." class="form-control" formControlName="course_name"> -->

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea rows="8" cols="12"
                          matInput formControlName="content" placeholder="Content" name="content" ></textarea>
              </mat-form-field>
            </p>

            <button mat-raised-button type="submit" color="primary">Edit</button>
          </mat-card-content>
        </form>
      </mat-card>
      </div>
    </div>
    <app-footer></app-footer>