<app-header></app-header>
	<div class="container-fluid">
		<h2 class="text-center mt-3">Add Your Notes</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-12">

          <form #addNoteForm="ngForm" (ngSubmit)="addNewNote(); addNoteForm.resetForm()">

            <div class="form-group">
                <label for="exampleInputEmail1">Enter Ttile</label>
                <input type="text" required #title="ngModel"
                       pattern="[A-Za-z_0-9 ]{1,30}"
                       [class.is-invalid]="title.invalid && title.touched"
                       class="form-control is-invalid" 
                       [(ngModel)]="newNote.title" 
                       name="title" 
                       id="title"
                       >

                <div *ngIf="title.errors && (title.invalid || title.touched)" >
                      <small class="text-danger" 
                             [class.d-none]="title.valid || title.untouched " 
                             *ngIf="title.errors.required">
                             Title is Required
                      </small>
                      <small class="text-danger" 
                             *ngIf="title.errors.pattern">
                             Title should contain only characters and Numbers   
                      </small>
                </div>
            </div>


          <div clas="form-group">
              <label for="exampleInputEmail1">Enter Content</label>
              <textarea rows="8" cols="" 
                        required #content="ngModel"
                        [class.is-invalid]="content.invalid && content.touched"
                        class="form-control is-invalid" 
                        [(ngModel)]="newNote.content" 
                        name="content" 
                        id="content">
              </textarea>
              <small class="text-danger" 
                     [class.d-none]="content.valid || content.untouched ">
                    Content is Required
              </small>
          </div>

            <div class="container text-center">
              <button [disabled]="addNoteForm.form.invalid" type="submit" class="btn btn-primary mt-3 mb-3">
                Add Note
              </button>
            </div>
          </form>

				</div>
			</div>
		</div>
	</div>
<app-footer></app-footer>
