<body>
  <app-header [deviceXs]="deviceXs"></app-header>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%">
      
      <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="addNoteFormGroup" (ngSubmit)="addNewNote()" >
          <mat-card-header>
            <p>
              <mat-label class="login_header">Add Notes</mat-label>
            </p>
          </mat-card-header>

          <mat-card-content>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" placeholder="Title">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea rows="8" cols="12"
                          matInput formControlName="content" placeholder="Content"></textarea>
              </mat-form-field>
            </p>

            <button [disabled]="addNoteFormGroup.invalid" mat-raised-button type="submit" color="primary">Add</button>
          </mat-card-content>
        </form>
      </mat-card>
      </div>
    </div>
    <app-footer></app-footer>