.sticky {
  padding: 0px;
  position: static;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.logo {
  padding: 0px 5px;
  font-size: 20px;
}
.xtra_small{
  margin-bottom: 15px;
 display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* .menus{
  border-left: solid 1px white;
}
.menus1{
  border-left: solid 1px white;
  border-right: solid 1px white;
} */