/* 
.bg-custom {
  background: #ab47bc;
}

.navbar .nav-item .nav-link {
  font-size: 20px;
  color: white;
}

.navbar-custom .nav-item:hover .nav-link {
  background: white;
  color: black;
  border-radius: 10px;
} */


.example-spacer {
  flex: 1 1 auto;
}

a {
color: white;
text-decoration: none;
}


span {
  border-radius:30px ;
}