<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">ENotes</span>
      </button>
      <div *ngIf="!deviceXs" fxLayout="row">
        <button mat-button routerLink="/notes/homepage">Home</button>
        <button mat-button routerLink="/notes/addNotes">Add Notes</button>
        <button mat-button routerLink="/notes/showNotes">Show Notes</button>
      </div>
    </div>
    <div>
      <div *ngIf="!deviceXs" mat-button fxLayoutAlign="end">
        <button mat-button routerLink="/user-login/profile">Profile</button>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs" fxLayout="space-between center" fxLayoutAlign="center center" class="xtra_small">
    <button mat-button  routerLink="/notes/homepage">Home</button>
    <button mat-button class="menus" routerLink="/notes/addNotes">Add Notes</button>
    <button mat-button class="menus" routerLink="/notes/showNotes">Show Notes</button>
    <button mat-button class="menus" routerLink="/user-login/profile">Profile</button>
    <button mat-button class="menus1" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>