.register_header{
  color: chocolate;
  font-size: 40px;
  font-weight: 500;
  margin-right: 30px;
  border-bottom: 1px solid chocolate;
}
input{
  background-color: bisque;
  
}
form{
  border: 1px solid black;
  background-color:bisque;
  text-align: center;
  padding: 0px 40px;
}
button{
  width: 87%;
}