<body>
  <app-home_nav [deviceXs]="deviceXs"></app-home_nav>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="100%" fxFlex.xs="100%">
      <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="contactUsFormGroup" (ngSubmit)="onSubmit()">
          <mat-card-header>
            <p>
              <label class="register_header">Contact Us</label>
            </p>
          </mat-card-header>

          <mat-card-content>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Full name</mat-label>
                <input matInput formControlName="name" placeholder="Full Name">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-hint>Full name required</mat-hint>
              </mat-form-field>
            </p>
            
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" type="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Email required</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobile" placeholder="Mobile Number">
                <mat-icon matSuffix>smartphone</mat-icon>
                <mat-hint>Mobile Number required</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" placeholder="message"></textarea>
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Message required</mat-hint>
              </mat-form-field>
            </p>

            <button [disabled]="contactUsFormGroup.invalid" mat-raised-button type="submit"
              color="primary">Message</button>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</body>