<app-header></app-header>
	<div class="container-fluid">
		<h2 class="text-center mt-3">Add Your Notes</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-12">

          <form #addNoteForm="ngForm" (ngSubmit)="addNewNote(addNoteForm.value)">

            <div class="form-group">
              <label for="exampleInputEmail1">Enter Ttile</label>
              <input type="text" class="form-control" ngModel id="exampleInputEmail1"
                     aria-describedby="emailHelp" name="title" required>
            </div>

            <div clas="form-group">
              <label for="exampleInputEmail1">Enter Content</label>
              <textarea rows="8" cols="" class="form-control" ngModel name="content"
                        required></textarea>
            </div>

            <div class="container text-center">
              <button type="submit" class="btn btn-primary mt-3 mb-3">
                Add Note
              </button>
            </div>
          </form>

				</div>
			</div>
		</div>
	</div>
<app-footer></app-footer>
